# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.user
*.suo
*.orig
output
publish-*
_ReSharper.*
*.Resharper
*.Cache
*.cache

# mstest test results
TestResults

# file config
ExternalSettings.config